.photoList > li > a {
  display: block;
}

.photoWindow-container {
  position: absolute;
  top: 0;
  left: 0;
}

.photoWindow {
  position: absolute;
  background: white;
  border: 1px solid #ccc;
}

.photoWindow-header {
  height: 30px;
  padding: 3px 6px;
  cursor: move;
}

.photoWindow img {
  max-width: 300px;
  max-height: 300px;
}
